.iconOk {
  color: #1890ff;
  font-size: 32px;
}

.iconGood {
  color: #52c41a;
  font-size: 32px;
}

.iconBad {
  color: #ff4d4f;
  font-size: 32px;
}

.iconClock {
  color: #faad14;
  font-size: 32px;
}

