.select{
    min-width: 200px;
}

.pages{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    text-align: center;
}

.content {
    padding: 24px;
}